.App {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  height: 50px;
  /* display: inline-block; */
  float: left;
}

.App-header {
  background-color: #000;
  height: 50px;
}
.App-header h2 {
  text-align: left;
  color: #fff;
  line-height: 52px;
  height: 50px;
  padding-left: 15px;
  display: inline-block;
  font-weight: normal;
}

.App-sidebar {
  width: 50px;
  top: 50px;
  bottom: 0;
  position: absolute;
  background-color: #247841;
}

.App-main {
  margin-left: 50px;
  padding: 25px;
}

.App-poller {
  position: absolute;
  top: 0;
  right: 0;
}
.App-poller div {
  display:block;
  height: 50px;
  width: 50px;
}
.App-poller .polling {
  background-color: orange;
}
.App-poller .not-polling {
  background-color: green;
}

/*
 * Core app stuff
 */

.census-service-groups {
  background-color: red;
}
